<div>

    <h2>Säljare</h2>

    <div class="infobox">
        <p>Här lägger du upp alla säljare som ska sälja i butiken. Varje säljare har en egen säljlänk som delas vidare till de som ska handla i butiken. För att komma till säljarens butik klickar du på jordgloben <i class="dx-icon-globe"></i> på respektive säljare nedan.</p>
        <p>Säljarna har dessutom en separat länk där de kan se alla ordrar som skapats i sin butik. Klicka på symbolen <i class="dx-icon-doc"></i> i listan nedan för att se länken till rapporten.</p>
        <p>Du kan även maila länkarna till säljarna genom att markera de du vill skicka till nedan.</p>
    </div>

    <dx-data-grid #spgrid
        [dataSource]="salesPersons"
        [selectedRowKeys]="selectedRowKeys"
        (onRowUpdated)="updated($event)"
        (onRowInserted)="inserted($event)"
        (onRowRemoved)="removed($event)"
        (onInitNewRow)="initSalesPerson($event.data)">

        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]"></dxo-pager>

        <dxo-selection mode="multiple" [allowSelectAll]="true"></dxo-selection>

        <dxo-editing [selectTextOnEditStart]="true" mode="cell" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true"></dxo-editing>

        <dxi-column dataField="name" dataType="string" caption="Namn" ></dxi-column>
        <dxi-column dataField="email" dataType="string" caption="E-post" ></dxi-column>
        <dxi-column dataField="code" dataType="string" caption="Kod" [allowEditing]="false" width="100"></dxi-column>
        
        <dxi-column type="buttons">
            <dxi-button hint="Visa rapport" icon="doc" [onClick]="showReport"></dxi-button>
            <dxi-button hint="Gå till shop" icon="globe" [onClick]="gotoShop"></dxi-button>
            <dxi-button name="delete" hint="Radera"></dxi-button>
        </dxi-column>

    </dx-data-grid>

    <div style="margin-top: 20px;" *ngIf="selectedRowKeys.length">
        <dx-button type="default" text="Maila länkar till valda säljare" (onClick)="sendMail(spgrid)" [disabled]="false"></dx-button>
    </div>

</div>
