.rubrik {
    padding: 12px 0;
    font-size: 18px;
    font-weight: 700;
}

.subrub {
    font-size: 10px;
    font-weight: 700;
    color: gray;
}

.ta {
    border: 1px solid lightgray;
    padding: 0 8px;
    border-radius: 0;
}

.m20 {
    margin: 24px 0;
    background-color: #f5f5f5;
}