<div class="outer">

    <div class="dx-card p20" [innerHTML]="homeText | sanitizeHtml"></div>

    <div class="dx-card p20" *ngIf="auth.userlevel > 1">
        Länk till registrering: <a [routerLink]="['/register']" target="_blank">https://grillkol.bokad.se/register</a>
    </div>

    <div class="dx-card p20" *ngIf="projects.length">
        <div *ngFor="let project of projects">
            Länk till er webshop: <a [routerLink]="['/shop/' + project.code]" target="_blank">https://grillkol.bokad.se/shop/{{project.code}}</a>
        </div>
    </div>

</div>