
  <!-- Steg 5 Välj produkter-->
  <div *ngIf="step == 5 && this.project">

    <!-- Sticky div -->
    <div class="sticky" (click)="cartClick()">

      <div class="rubrik">

        <!--
        <div *ngIf="db.takeoutType.logo">
          <img class="logo" [src]="'https://cdn.bokad.se/' + db.system + '/logoavh.png'">
        </div>
        -->

        <div style="display: flex; align-items: center;">
      
          <div class="noselect">
            <span>GRILLKOL</span>
          </div>

          <div>
              <fa-layers [fixedWidth]="true" class="carticon">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
                <fa-layers-counter [content]="productCount().toString()" style="font-size: 50px"></fa-layers-counter>
              </fa-layers>
          </div>

        </div>

      </div>

      
    </div>

    <div style="height: 105px"></div>

    
    <div class="info">
      <div [innerHTML]="project.infotext | nl2br | sanitizeHtml"></div>
    </div>

    <!-- Menyer 
    <div *ngIf="db.takeoutType && db.takeoutType.idMenus && db.takeoutType.idMenus.length > 1">
      <div *ngFor="let mid of db.takeoutType.idMenus" class="menus" [ngStyle]="{ 'font-family': db.fonts[1] }" (click)="setMenu(mid)" [class.menuselected]="selectedMid == mid">
        {{ (mid | ref : "displayName" : "id" : db.menus) || (mid | ref : "name" : "id" : db.menus) }}
      </div>
    </div>
    -->
    
    <!-- Kategorier -->
    <div *ngIf="categories.length > 1" class="catdiv">
      <div class="catmobile">
        <div *ngFor="let cat of categories" class="cats" [class.catselected]="selectedCategory == cat" (click)="setCat(cat)">
          <!--{{ cat | ref : "name" : "id" : db.mealtypes }}-->
          {{ cat.displayName || cat.name }}
        </div>
      </div>
    </div>
    

    <!-- Kategoriinfo -->
    <div *ngIf="selectedCategory" class="info" [innerHTML]="selectedCategory.infotext | nl2br | sanitizeHtml"></div>

    <!-- Produkter -->
    <div *ngIf="products.length" class="outer" [class.outer1]="(products | catPipe : selectedCategory.id).length == 1" [class.outer2]="(products | catPipe : selectedCategory.id).length == 2"
         [class.outer3]="(products | catPipe : selectedCategory.id).length == 3">

      <div *ngFor="let p of products | catPipe : selectedCategory.id" class="item noselect">

        <div class="itemrubrik">{{p.name}}</div>
        
        <div class="itemrubriksub">
          <span *ngIf="p.priceIncl">{{p.priceIncl | number : '1.0-0' : 'sv_SE'}} kr</span>
        </div>

        
        <div *ngIf="p.image">
          <img [src]="'/assets/images/products/' + p.image" class="img">
        </div>

        <div class="itemtext" [innerHTML]="(p.descrioption1 || '')  | sanitizeHtml"></div>

        <div style="flex:1"></div>
    
        <div class="itemantal noselect">
          <span class="ri">Antal</span>
          <span class="ri po" (click)="del(p)">-</span>
          <span class="ri"><!--{{antal(mi.id)}}-->0</span>
          <span class="po" (click)="add(p)">+</span>
        </div>
        
      </div>
    </div>
    
  </div>

  
  <div style="background-color: white;">
    <pre>{{selectedItems|json}}</pre>
    <!--<pre>{{project|json}}</pre>
    <pre>{{products|json}}</pre>-->
  </div>
  