<div style="width:95%; margin: auto; height: 100%; text-align: center;">

  <!-- Steg 5 Välj produkter-->
  <div *ngIf="step == 5 && this.project">

    <!-- Sticky div -->
    <div class="sticky" (click)="cartClick()">

      <div class="rubrik">

        <!--
        <div *ngIf="db.takeoutType.logo">
          <img class="logo" [src]="'https://cdn.bokad.se/' + db.system + '/logoavh.png'">
        </div>
        -->

        <div style="display: flex; align-items: center;">
      
          <div class="noselect">
            <span>GRILLKOL</span>
          </div>

          <div>
              <fa-layers [fixedWidth]="true" class="carticon">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
                <fa-layers-counter [content]="(selectedItems | totalQuantity : pipeHelper) || '0'" style="font-size: 50px"></fa-layers-counter>
              </fa-layers>
          </div>

        </div>

      </div>

      
    </div>

    <div style="height: 105px"></div>

    
    <div class="info">
      <div [innerHTML]="project.infotext | nl2br | sanitizeHtml"></div>
    </div>
    
    <!-- Kategorier -->
    <div *ngIf="categories.length > 1" class="catdiv">
      <div class="catmobile">
        <div *ngFor="let cat of categories" class="cats" [class.catselected]="selectedCategory == cat" (click)="setCat(cat)">
          <!--{{ cat | ref : "name" : "id" : db.mealtypes }}-->
          {{ cat.displayName || cat.name }}
        </div>
      </div>
    </div>
    
    <!-- Kategoriinfo -->
    <div *ngIf="selectedCategory && selectedCategory.infotext" class="info" [innerHTML]="selectedCategory.infotext | nl2br | sanitizeHtml"></div>

    <!-- Produkter -->
    <div *ngIf="products.length && selectedCategory" class="outer" [class.outer1]="(products | catPipe : selectedCategory.id).length == 1" [class.outer2]="(products | catPipe : selectedCategory.id).length == 2"
         [class.outer3]="(products | catPipe : selectedCategory.id).length == 3">

      <div *ngFor="let p of products | catPipe : selectedCategory.id" class="item noselect">

        <div class="itemrubrik">{{p.name}}</div>
        
        <div class="itemrubriksub">
          <span *ngIf="p.priceIncl">{{p.priceIncl | number : '1.0-0' : 'sv_SE'}} kr</span>
        </div>
        
        <div *ngIf="p.image">
          <img [src]="'/assets/images/products/' + p.image" class="img">
        </div>

        <div class="stocklevel">{{p.stocklevel | stockLevel}}</div>

        <div class="itemtext" [innerHTML]="(p.description1 || '')  | sanitizeHtml"></div>

        <div style="flex:1"></div>
    
        <div class="itemantal noselect">
          <span class="ri">Antal</span>
          <span class="ri po" (click)="del(p)">-</span>
          <span class="ri">{{ p | itemQuantity : selectedItems : pipeHelper }}</span>
          <span class="po" (click)="add(p)">+</span>
        </div>
        
      </div>
    </div>

    <div class="footer">
      <dx-button type="normal" text="Allmänna villkor" (click)="showTerms()"></dx-button>
    </div>
    
  </div>

  <div *ngIf="step == 6" style="width: 100%">

    <div class="total">

      <div class="square" style="cursor: pointer;" (click)="close()">
        <fa-icon [icon]="faTimes" size="1x" style="font-size:20px;color: rgb(150, 150, 150)"></fa-icon>
      </div>

      <div style="border-bottom: 10px;">Sammanställning<br>------------------------------<div>

      <!-- Order rows -->
      <div *ngFor="let si of selectedItems" class="row">
        <div style="display: flex; padding: 4px 0; align-items: center">
          <div class="row1">{{ si.quantity }} st {{ si.product.name }}</div>
          <div class="row2"><span *ngIf="si.amount">{{ si.amount | number : '1.0-0' : 'sv_SE' }} kr</span></div>
          <div class="row2 pointer" (click)="delItem(si)"><fa-icon [icon]="faTimes" size="1x" style="font-size:16px;color: rgb(150, 150, 150); padding-left: 8px"></fa-icon></div>
        </div>
      </div>
      
      <!-- Total -->
      <div style="text-align: right;margin-top: 10px; margin-right: 28px">------------------</div>
      <div style="display: flex; justify-content: space-between; margin-right: 28px;">
        <div class="fat">TOTALT</div>
        <div class="fat">{{ selectedItems | totalAmount : pipeHelper | number : '1.0-0' : 'sv_SE' }} kr</div>
      </div>

      <div style="margin-top: 20px">

        <dx-validation-group>

          <div *ngIf="salesPersons.length" style="padding: 20px 0">

            <div class="sprubrik">Välj person som försäljningen ska registreras på</div>

            <div class="dx-field">
              <dx-select-box displayExpr="name" placeholder="Välj..." valueExpr="id" [dataSource]="salesPersons" [(value)]="idSelectedSalesPerson" width="100%">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule>
              </dx-validator>
              </dx-select-box>
            </div>

          </div>

          <div class="dx-field">
            <dx-text-box [(value)]="order.fnamn" placeholder="Köparens förnamn" width="100%">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
          </div> 

          <div class="dx-field">
            <dx-text-box [(value)]="order.enamn" placeholder="Köparens efternamn" width="100%">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
          </div> 

          <div class="dx-field">
              <dx-text-box [(value)]="order.phone" placeholder="Mobilnummer för Swishbetalning (10 siffror)" width="100%">
                  <dx-validator>
                      <dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule>
                      <dxi-validation-rule type="numeric" message="Endast siffror"></dxi-validation-rule>
                  </dx-validator>
              </dx-text-box>
          </div> 

          <div class="dx-field">
              <dx-text-box [(value)]="order.email" placeholder="E-post (för kvitto)" width="100%">
                  <dx-validator>
                      <dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule>
                      <dxi-validation-rule type="email" message="Felaktig E-post"></dxi-validation-rule>
                  </dx-validator>
              </dx-text-box>
          </div> 

          <div class="dx-field">
            <dx-text-box [(value)]="order.adr1" placeholder="Adress" width="100%">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
          </div> 

          <div class="dx-field">
            <dx-text-box [(value)]="order.adr2" placeholder="Postnummer och Ort" width="100%">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
          </div>

          <div class="dx-field">
            <dx-check-box [(value)]="order.termsAccepted" text="Jag godkänner härmed köpvillkoren">
              <dx-validator>
                <dxi-validation-rule type="compare" [comparisonTarget]="checkComparison" message="Du måste godkänna köpvillkoren"></dxi-validation-rule>
              </dx-validator>
            </dx-check-box>
          </div>

          <div class="dx-field" style="margin: 25px 0">
            <dx-button type="default" text="Beställ och betala med Swish" (onClick)="orderClick($event)" width="100%"></dx-button>
          </div>

        </dx-validation-group>

      </div>

    </div>

  </div>


</div>
  </div>

  <div *ngIf="step == 8" class="step8">
    Öppna swish och följ instruktioner för att betala.
  </div>

  <div *ngIf="step == 9" class="step8">
    Betalning avbruten!
  </div>

<div *ngIf="step == 10" style="margin-top: 50px;font-size: 18px">
  <div class="total">
    Tack för din order!<br><br>
    En bekräftelse har skickats till din mailadress.
  </div>
</div>    

<ngx-smart-modal #termsModal identifier="termsModal">

  <div style="text-align: left;">123
  </div>

</ngx-smart-modal>

  <!--
  <div style="background-color: white;">
    <pre>{{selectedItems|json}}</pre>
    <pre>{{project|json}}</pre>
    <pre>{{products|json}}</pre>
  </div>
-->

<!--
<div style="background-color: white;"><pre>{{order|json}}</pre></div>
-->