<ng-container *ngIf="isAuthorized(); else notAuthorized">
  <app-side-nav-inner-toolbar title="{{appInfo.title}}">
      <div style="padding: 0 10px;"><router-outlet></router-outlet></div>
      <app-footer>
          Copyright © 2020 Digital Services Sweden AB
      </app-footer>
  </app-side-nav-inner-toolbar>
</ng-container>

<ng-template #notAuthorized>
  <app-single-card>
      <router-outlet></router-outlet>
  </app-single-card>
</ng-template>

<dx-load-panel
shadingColor="rgba(0,0,0,0.7)"
[shading]="true"
message="Loading"
[visible]="loading">
</dx-load-panel>