.table1 {
    width: 100%;
}

.table1 td {
    padding: 10px 10px;
    vertical-align: top;
}

.table1 td:nth-child(1) {
    width: 150px;
    padding-top: 18px;
}

.ta {
    border: 1px solid lightgray;
    padding: 0 8px;
    border-radius: 0;
}

::ng-deep .dx-form-group {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.terms {
    text-align: left; 
    padding: 20px;
    font-size: 16px;
}

::ng-deep .pack-modal-custom {
    min-width: 90% !important;
    width: 90% !important;
    height: 90%;
}

