<div>

    <h2>Försäljningsprojekt</h2>

    <dx-data-grid
    *ngIf="auth.userlevel > 1"
    [dataSource]="dataSource"
    (onInitNewRow)="initProject($event.data)">

        <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"> </dxo-remote-operations>
        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]"></dxo-pager>

        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="auth.userlevel > 4" [allowAdding]="true" [useIcons]="true">

            <dxo-popup
                title="Projektinformation"
                [showTitle]="true"
                width="90%"
                height="90%"
                >
            </dxo-popup>

            <dxo-form>

                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">

                    <dxi-item dataField="name" [colSpan]="2"></dxi-item>

                    <dxi-item dataField="contactName" [colSpan]="2"></dxi-item>
                    
                    <dxi-item dataField="email"></dxi-item>
                    <dxi-item dataField="phone"></dxi-item>

                    <dxi-item dataField="bankinfo" [colSpan]="2"></dxi-item>

                </dxi-item>

                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                    <dxi-item dataField="infotext" editorType="dxTextArea" [colSpan]="2" [editorOptions]="{ autoResizeEnabled: true, minHeight: 100 }"></dxi-item>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="1" [colSpan]="2" caption="Kataloger">

                    <dxi-item dataField="catalogs"></dxi-item>
                    <dxi-item dataField="catalogAdr1"></dxi-item>
                    <dxi-item dataField="catalogAdr2"></dxi-item>
                    <dxi-item dataField="catalogZipCode"></dxi-item>
                    <dxi-item dataField="catalogCity"></dxi-item>

                </dxi-item>

                <dxi-item itemType="group" [colCount]="1" [colSpan]="2" caption="Leverans">

                    <dxi-item dataField="deliveryAdr1"></dxi-item>
                    <dxi-item dataField="deliveryAdr1"></dxi-item>
                    <dxi-item dataField="deliveryZipCode"></dxi-item>
                    <dxi-item dataField="deliveryCity"></dxi-item>

                </dxi-item>

                <dxi-item itemType="group" [colCount]="2" [colSpan]="2" caption="Övrigt" style="background-color: bisque;">

                    <dxi-item dataField="idCategories" editorType="dxTagBox" [colSpan]="2" [editorOptions]="{ dataSource: categories, displayExpr: 'name', valueExpr: 'id' }"></dxi-item>
                    
                    <dxi-item dataField="persons"></dxi-item>
                    <dxi-item dataField="newsletter"></dxi-item>

                    <dxi-item dataField="code"></dxi-item>
                    <dxi-item dataField="password"></dxi-item>

                    <dxi-item dataField="serviceRate"></dxi-item>
                    <dxi-item dataField="active"></dxi-item>

                </dxi-item>


            </dxo-form>
        </dxo-editing>

        <dxi-column dataField="name" dataType="string" caption="Projektnamn" ></dxi-column>
        <dxi-column dataField="persons" dataType="number" caption="Personer som ska sälja" width="100" [visible]="false"></dxi-column>
        <dxi-column dataField="ts" dataType="string" caption="Skapad" width="160" sortOrder="asc"></dxi-column>
        <dxi-column dataField="contactName" dataType="string" caption="Kontaktperson"></dxi-column>

        <dxi-column dataField="email" dataType="string" caption="E-post" [visible]="false"></dxi-column>
        <dxi-column dataField="phone" dataType="string" caption="Telefon" [visible]="false"></dxi-column>

        <dxi-column dataField="catalogs" dataType="boolean" caption="Skicka katalog" width="100" trueText="Ja" falseText="Nej" [visible]="false"></dxi-column>
        <dxi-column dataField="catalogAdr1" dataType="string" caption="Adressrad 1" [visible]="false"></dxi-column>
        <dxi-column dataField="catalogAdr2" dataType="string" caption="Adressrad 2" [visible]="false"></dxi-column>
        <dxi-column dataField="catalogZipCode" dataType="string" caption="Postnummer" [visible]="false"></dxi-column>
        <dxi-column dataField="catalogCity" dataType="string" caption="Ort" [visible]="false"></dxi-column>

        <dxi-column dataField="deliveryAdr1" dataType="string" caption="Leverera till" [visible]="false"></dxi-column>
        <dxi-column dataField="deliveryAdr2" dataType="string" caption="Adress" [visible]="false"></dxi-column>
        <dxi-column dataField="deliveryZipCode" dataType="string" caption="´Postnummer" [visible]="false"></dxi-column>
        <dxi-column dataField="deliveryCity" dataType="string" caption="Ort" [visible]="false"></dxi-column>

        <dxi-column dataField="newsletter" dataType="boolean" caption="Nyhetsbrev" width="100" trueText="Ja" falseText="Nej" [visible]="false"></dxi-column>

        <dxi-column dataField="code" dataType="string" caption="Kod" width="100" [visible]="true"></dxi-column>
        <dxi-column dataField="password" dataType="string" caption="Lösen" [visible]="false"></dxi-column>

        <dxi-column dataField="infotext" dataType="string" caption="Infotext i webshoppen" [visible]="false"></dxi-column>
        <dxi-column dataField="bankinfo" dataType="string" caption="Bankinformation för utbetalning av provision" [visible]="false"></dxi-column>

        <dxi-column dataField="idCategories" caption="Produktkategorier i webshoppen" [visible]="false"></dxi-column>
        
        <dxi-column dataField="serviceRate" dataType="number" caption="Serviceavgift %" width="100" [visible]="false"></dxi-column>

        <dxi-column dataField="active" dataType="boolean" caption="Aktiv" width="100" trueText="Ja" falseText="Nej"></dxi-column>

        <dxi-column type="buttons">
            <dxi-button hint="E-post" icon="email" [onClick]="email"></dxi-button>
            <dxi-button hint="Visa" icon="globe" [onClick]="gotoShop"></dxi-button>
            <dxi-button name="delete" hint="Radera"></dxi-button>
            <dxi-button name="edit" hint="Edit"></dxi-button>
        </dxi-column>

    </dx-data-grid>

    <div *ngIf="auth.userlevel == 1">

        <div *ngFor="let project of projects" class="dx-card p20">
            <dx-validation-group>
            
                <table class="table1">

                    <tr>
                        <td>Försäljningsprojekt</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.name" width="100%" [disabled]="!project.active"><dx-validator><dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule></dx-validator></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Skapad</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.ts" width="100%" [disabled]="true"></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Kontaktperson</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.contactName" width="100%" [disabled]="!project.active"><dx-validator><dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule></dx-validator></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>E-post</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.email" width="100%" [disabled]="true"><dx-validator><dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule><dxi-validation-rule type="email" message="Felaktig E-post"></dxi-validation-rule></dx-validator></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Telefon</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.phone" width="100%" [disabled]="!project.active"><dx-validator><dxi-validation-rule type="required" message="Måste anges"></dxi-validation-rule><dxi-validation-rule type="numeric" message="Endast siffror"></dxi-validation-rule></dx-validator></dx-text-box></div></td>
                    </tr>                 

                    <tr>
                        <td>Informationstext i webshoppen</td>
                        <td>
                            <div class="dx-field">
                                <dx-text-area [(value)]="project.infotext" width="100%" minHeight="200" class="ta" [disabled]="!project.active">
                                </dx-text-area>
                            </div> 
                        </td>
                    </tr>

                    <tr>
                        <td>Leverera varor till</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.deliveryAdr1" width="100%" [disabled]="!project.active"></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Leveransadress</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.deliveryAdr2" width="100%" [disabled]="!project.active"></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Postnummer</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.deliveryZipCode" width="200" [disabled]="!project.active"></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Ort</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.deliveryCity" width="100%" [disabled]="!project.active"></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Telefonnummer vid leverans</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.deliveryPhone" width="100%" [disabled]="!project.active"></dx-text-box></div></td>
                    </tr>

                    <tr>
                        <td>Önskat leveransdatum</td>
                        <td><div class="dx-field"><dx-date-box [(value)]="project.deliveryDate" width="200" [disabled]="!project.active"  [disabledDates]="disabledDates"></dx-date-box><span style="padding-left:20px">Vi kan inte lova exakt leveransdag för tredje part (fraktbolaget) men vi gör allt som står i vår makt.</span></div></td>
                    </tr>

                    <tr>
                        <td>Bankinformation för utbetalning av provision</td>
                        <td><div class="dx-field"><dx-text-box [(value)]="project.bankinfo" width="100%" [disabled]="!project.active"></dx-text-box></div></td>
                    </tr>                       
                
                </table>
                
                <div class="dx-field">
                    <dx-button type="default" text="Spara" (onClick)="saveProjectButton($event, project)" [disabled]="!project.active"></dx-button>
                </div>

                <div class="dx-field">
                    <dx-button type="default" text="Läs före beställning" (onClick)="readBefore()" [disabled]="!project.active"></dx-button>
                </div>

                <div class="dx-field" style="margin-top: 40px">
                    <dx-button type="default" text="Avsluta försäljningen och begär leverans av beställda produkter" (onClick)="closeProjectButton($event, project)" [disabled]="!project.active"></dx-button>
                </div>

            </dx-validation-group>
        </div>

    </div>
</div>

<ngx-smart-modal #readBeforeOrder [customClass]="'pack-modal-custom'" identifier="readBeforeOrder">

    <div class="terms" [innerHtml]="rbtext | nl2br | sanitizeHtml"></div>
  
</ngx-smart-modal>

<ngx-smart-modal #mailModal [customClass]="'pack-modal-custom'" identifier="mailModal">

    <h4>Skicka E-post</h4>

    <table class="table1">
        <tr>
            <td>E-post</td>
            <td>
                <div class="dx-field">
                    <dx-text-box [(value)]="mailTo" width="100%">
                </dx-text-box></div>
            </td>
        </tr>
        <tr>
            <td>Ämne</td>
            <td>
                <div class="dx-field">
                    <dx-text-box [(value)]="mailSubject" width="100%">
                </dx-text-box></div>
            </td>
        </tr>
        <tr>
            <td>Meddelande</td>
            <td>
                <div class="dx-field">
                    <dx-text-area [(value)]="mailText" width="100%" minHeight="200" class="ta"></dx-text-area>
                </div> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="dx-field" style="margin-top: 40px">
                    <dx-button type="default" text="skicka" (onClick)="sendMail()"></dx-button>
                </div>
            </td>
        </tr>
    </table>

  
</ngx-smart-modal>