<div>
    <h2>Produkter</h2>
    
    <dx-data-grid #grid
        [dataSource]="dataSource"
        [masterDetail]="{ enabled: true, template: 'detail' }"
        (onInitNewRow)="initProduct($event.data)">

        <dxo-remote-operations [filtering]="true" [sorting]="true" [paging]="true"> </dxo-remote-operations>
        <dxo-filter-row visible="true"></dxo-filter-row>
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]"></dxo-pager>

        <dxo-editing [selectTextOnEditStart]="true" mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
            <dxo-form>
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
    
                    <dxi-item dataField="name" [colSpan]="2"></dxi-item>

                    <dxi-item dataField="idCategory"></dxi-item>
                    <dxi-item dataField="sku"></dxi-item>

                    <dxi-item dataField="description1" editorType="dxTextArea" [editorOptions]="{ autoResizeEnabled: true, minHeight: 100 }" [colSpan]="2"></dxi-item>
                    <dxi-item dataField="description2" editorType="dxTextArea" [editorOptions]="{ autoResizeEnabled: true, minHeight: 100 }" [colSpan]="2"></dxi-item>

                    <dxi-item dataField="priceIncl"></dxi-item>
                    <dxi-item dataField="resellerPriceIncl"></dxi-item>

                    <dxi-item dataField="idVat"></dxi-item>
                    <dxi-item dataField="volume"></dxi-item>
                    
                    <dxi-item dataField="image"></dxi-item>
                    <dxi-item dataField="stockLevel"></dxi-item>

                    <dxi-item dataField="sortorder"></dxi-item>
                    <dxi-item dataField="active"></dxi-item>
    
                    <!--
                    <dxi-item itemType="empty"></dxi-item>
                    -->
    
                </dxi-item>
            </dxo-form>
        </dxo-editing>

        <dxi-column dataField="sku" dataType="string" caption="Artikelnr" width="120"></dxi-column>
        <dxi-column dataField="name" dataType="string" caption="Produktnamn"></dxi-column>

        <dxi-column dataField="description1" dataType="string" caption="Beskrivning 1" [visible]="false"></dxi-column>
        <dxi-column dataField="description2" dataType="string" caption="Beskrivning 2" [visible]="false"></dxi-column>

        <dxi-column dataField="image" dataType="string" caption="Bildnamn" [visible]="false"></dxi-column>

        <dxi-column dataField="priceIncl" dataType="number" caption="Pris inkl" width="100"></dxi-column>
        <dxi-column dataField="resellerPriceIncl" dataType="number" caption="ÅF-Pris inkl" width="100" [visible]="false"></dxi-column>
        <dxi-column dataField="idVat" dataType="string" caption="Moms" width="100" [visible]="false">
            <dxo-lookup
                [dataSource]="vats"
                valueExpr="id"
                displayExpr="name">
            </dxo-lookup>
        </dxi-column>

        <dxi-column dataField="idCategory" dataType="string" caption="Kategori" width="160">
            <dxo-lookup
                [dataSource]="categories"
                valueExpr="id"
                displayExpr="name">
            </dxo-lookup>
        </dxi-column>


        <dxi-column dataField="stockLevel" dataType="number" caption="Lager" width="100"></dxi-column>
        <dxi-column dataField="volume" dataType="number" caption="Volym" width="100"></dxi-column>

        <dxi-column dataField="active" dataType="boolean" caption="Aktiv" width="100" trueText="Ja" falseText="Nej"></dxi-column>
        <dxi-column dataField="sortorder" dataType="number" caption="Sortering" width="100" [visible]="true" sortOrder="asc"></dxi-column>

        <dxi-column dataField="fortnoxProducts" [visible]="false"></dxi-column>

        <div *dxTemplate="let row of 'detail'">

            <div>Motsvarande produkter i Fortnox</div>

            <dx-data-grid [dataSource]="row.data.fortnoxProducts" (onInitNewRow)="initFortnoxProduct($event.data)"
                (onRowUpdated)="saveDetail(grid, row, 'fortnoxProducts')"
                (onRowInserted)="saveDetail(grid, row, 'fortnoxProducts')" 
                (onRowRemoved)="saveDetail(grid, row, 'fortnoxProducts')"
            >
                <dxo-editing [selectTextOnEditStart]="true" mode="batch" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true"></dxo-editing>

                <dxi-column dataField="sku" dataType="string" caption="Artikelnr" width="220"></dxi-column>
                <dxi-column dataField="quantity" dataType="number" caption="Antal" width="100"></dxi-column>
                <dxi-column dataField="sortorder" dataType="number" caption="Sortering" width="100" sortOrder="asc"></dxi-column>

            </dx-data-grid>
        </div>

    </dx-data-grid>

</div>  